@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(imagens/wallpaper006.jpg);
    font-family: Arial, Helvetica, sans-serif;
}
main{
    width: 800px;
    margin: auto;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.747);
    background-attachment: fixed;
}
section{
    padding: 15px;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
    margin: 40px;
}
h4{
    text-align: right;
}
.divpai{
    display: flex;
    justify-content: space-between;
}
.quadrado{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-color: lightgray;
    margin: 20px;
}
#q1{
    background-color: aquamarine;
}
#q2{
    background-image: linear-gradient(to bottom, aquamarine, skyblue);
}
#q3{
    background-image: url(imagens/pattern001.png);
}
.custom-fundo{
    width: 100%;
    height: 500px;
    background-image: url(https://gustavoguanabara.github.io/html-css/imagens/mascote.png);
    background-size: 200px 200px;
}
#q4{
    height: 500px;
    background-repeat: no-repeat;
}
#q5{
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
}
.custom-fundo-g{
    background-image: url(imagens/wallpaper003.jpg);
    margin-bottom: 50px;
    border-radius: 10px;
}
#q6{
    height: 200px;
    background-position: left top;
}
#q7{
    height: 200px;
    background-position: center center;
}
#q8{
    height: 200px;
    background-position: right bottom;
}
.full-size{
    display: flex;
    width: 100%;
    height: 700px;
    align-items: center;
    background-image: url(imagens/wallpaper002.jpg);
    background-position: center top;
}
article{
    width: 50%;
    padding: 3px;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    text-align: justify;
}
