@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #D3D3D3;
}
header{
    padding-top: 20px;
    background-color: #949494;
}
header h1{
    text-align: center;
}
#burguer{
    width: 100%;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 0px;
    background-color: #3f3e3e;
    color: white;
    cursor: pointer;
}
#burguer:hover{
    background-color: white;
    color: black;
}
#itens{
    display: none;
}
li{
    text-align: center;
    color: white;
    display: block;
    background-color: #575757;
    padding: 10px;
    margin-bottom: 2px;
}
li:hover{
    background-color: #808080;
}
a{
    text-decoration: none;
    color: white;
}
main{
    max-width: 992px;
    background-color: white;
    padding: 5px;
    margin: 20px 5px;
    text-align: justify;
    border-radius: 10px;
}
h2{
    width: 100%;
}
p{
    text-indent: 20px;
}
p, h2{
    padding: 5px;
}

@media screen and (min-width: 768px){
    main{
        margin: 20px auto;

    }
    #burguer{
        display: none;
    }
    #itens{
        margin-top: 20px;
        display: block;
    }
    header{
        padding: 10px;
    }
    header h1{
        margin-bottom: 10px;
        text-align: center;
    }
    header menu{
        margin-top: 20px;
    }
    li{
        color: white;
        display: inline;
        background-color: #575757;
        padding: 10px;
    }
    li:hover{
        background-color: #808080;
    }
    a{
        text-decoration: none;
        color: white;
    }
}
