@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@font-face {
    font-family: 're3';
    src: url("fontes/resident_evil_3_remake_font_by_snakeyboy_ddovswe.otf") format("opentype");
}

:root{
    --color-white:#ffffff;
    --color-gray: #80808069;
    --color-black:#222120;
    --color-darkgray:#3B3A38;
    --color-darkblack:#131211;
}
header{
    background-color: var(--color-black);
    box-shadow: 20px 20px 4xp white;
}
#header{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    position: fixed;
    background-color: var(--color-black);
    align-items: center;
    top: 0;
    left: 0;
}
#logo-header{
    margin: 10px
}
#buttom-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5em;
}
.buttom-nav{
    text-decoration: none;
    color: #ffffff;
    font-size: 2em;
    margin: 10px;
    
}
.back-nav:hover{
    background-color: var(--color-gray);
    text-align: center;
    border-radius: 3px;
    scale: 1.2;
}
#logo-perfil{
    margin: 10px
}

body{
    background-color:var(--color-darkgray);
    font-family: 're3',sans-serif;
    margin: 0px;
}
.title-log-sig{
    text-align: center;
    transform: translateY(-10%);
    margin: 0;
    scale: 0.9;
}
.title-reg{
    font-size: 2.5em;
    margin: 20px
}
#card-log{
    text-align: center;
    justify-content: center;
    top: 20%;
    left: 50%;
    width: 20%;
    transform: translateY(-15%);
    padding: 5px 25px;
    background-color:  var(--color-gray);
    border-radius: 20px;
    margin: 0 auto;
}
#form-log{
    color: white;
    font-size: 1.2em;
    text-align: left;
}
.input-reg{
    width: 100%;
    margin-bottom: 10px;
}
p{
    color: white;
    font-size: 1.4em;
}
.checkbox{
    font-size: 1em;
    margin: 5px,0,5px,0;
}
.buttom{
    background-color: rgb(236, 0, 0);
    font-family: 're3', sans-serif;
    font-size: 2em;
    color: white;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    border: none;
    text-align: center;
}
.links-p{
    margin:15px;
}
.links-log{
    color: white;
    margin: 0px;
    text-decoration: none;
}
.links-log:hover{
    text-decoration: underline;
}
main{
    height: 1550px;
}
footer{
    display: flex;
    font-family: "Roboto Mono", monospace;
    background-color: var(--color-darkblack);
    padding: 2px;
    justify-content: space-around;
}
#logo-footer{
    margin: auto;
    width: 250px;
    padding: 20px;
}
.p-footer{
    text-align: center;
    font-size: 0.7em;
    padding: 20px;
}
#newslatter{
    background-color:  #80808023;
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
}
button{
    border: 1px solid black;
    color: var(--color-white);
}
#social-div{
    justify-content: end;
    padding: 50px;
}
#social-midia{
    display: flex;
}
.icone-footer{
    width: 25px;
    margin: 5px;
}