@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --font03: "Sriracha", cursive;
    --font01: "Passion One", sans-serif;
    --font02: Verdana, Geneva, Tahoma, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    font-size: 1em;
}
header{
    background-color: black;
    color: white;
    font-family: var(--font02);
    text-align: center;
    padding: 50.5px;
}
header h1{
    font-family: var(--font01);
    font-size: 132px;
    font-weight: bold;
    font-variant: small-caps;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}
main{
    font-family: var(--font03);
    font-size: 46px;
    line-height: 92.8px;
}
main p{
    max-width: 1600px;
}
.normal{
    padding: 4.5vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.imagens{
    padding: 5vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.imagens p{
    display: inline-block;
    color: white;
    background-color: rgba(0, 0, 0, 0.541);
    text-shadow: 1px 1px 1px black;
    padding: 5px;
}
#img01{
    background-image: url(imagens/background001.jpg);
}
#img02{
    background-image: url(imagens/background002.jpg);
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: var(--font02);
    padding: 10px;
}